body {
  background-color: black;
}
#contenedor {
  width: 960px;
  height: 1200px;
  background-color: gray;
  margin: auto;
}
h2 {
  text-align: center;
}
#div1 {
  width: 920px;
  height: 200px;

  background-image: url("../imagenes/logoudg.jpeg");
  background-position: center;
  background-size: 300px 200px;
  background-repeat: no-repeat;
  margin-left: 20px;
  background-color: white;
  box-shadow: 0px -10px yellow;
}
#div2 {
  width: 920px;
  height: 50px;
  background-color: #f04cd1;
  margin-top: 5px;
  margin-left: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
#div3 {
  width: 220px;
  height: 500px;
  background-image: linear-gradient(to left, white, orange);

  margin-top: 5px;
  margin-left: 20px;
  float: left;
  box-shadow: 10px 10px orange;
}
#div4 {
  width: 675px;
  height: 30px;
  margin-top: 5px;
  margin-left: 25px;
  position: static;
  float: left;
  background-color: #f04cd1;
}
#div5 {
  width: 675px;
  height: 466px;

  margin-top: 5px;
  margin-left: 25px;
  float: left;

  background: linear-gradient(#9c9c9c, white);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
img {
  float: right;
  border-top-right-radius: 15px;
}
#div6 {
  width: 920px;
  height: 100px;
  background-color: #f04cd1;
  margin-top: 15px;
  margin-left: 20px;
  float: left;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 10px white;
}

/*
  absolute: de la ventana
  fixed: ventana estatico
  relative: posision inicial
  static: 
  */
