*{
    margin: 0;
    padding: 0;
       
}

#texto{
    border: 5px;
    border-bottom-style: solid;
    border-bottom-color: blue;
    padding: 10px;
    margin: 0px 5px 10px; 
}
#cajita{
    
    border-left: 10px;
    border-right: 10px;
    border-top: 0px;
    border-bottom: 0px;
    border-style: solid;
    border-color: red;
    margin-bottom: 5px;
   
}
#google{
    background-color: gray;
    text-decoration: none;
}
#google:hover{
    text-decoration: underline;
}

td{
    text-align: center;
    padding: 10px;
    border: 1px;
    border-style: solid;
    border-color: black;
}
#tablita{
    border: 5px;
    border-style: solid;
    border-color:pink;
}
.td1{
    background-color: yellow;
    font-weight: 100;
}
.td2{
    background-color: blue;
}